.case-component {
  margin-top: 55px;

  &__cases {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: auto;
    gap: 15px;

    &_item {
      width: 100%;
      position: relative;
      border-radius: 10px;
      max-height: 550px;

      &__images {
        width: 100%;
        max-width: 100%;
        height: 100%;
        border-radius: 10px;
        max-height: 550px;
        object-fit: cover;
        object-position: center;
      }

      &__buttons {
        position: absolute;
        top: 20px;
        left: 30px;
        display: flex;
        flex-direction: row;
        align-items: center;

        &_button {
          height: 32px;
          background: transparent;
          padding: 5px;
          border-radius: 50px;
          font-size: 1rem;
          border: 1px solid #ffffff;
          color: #ffffff;
          line-height: 1;
          display: flex;
          flex-direction: row;
          align-items: center;
          gap: 10px;
        }
      }

      &__title {
        color: #ffffff;
        font-size: 4rem;
        font-weight: 700;
        position: absolute;
        bottom: 20px;
        left: 30px;
        text-transform: uppercase;
      }
    }

    &_item:hover {
      transform: scale(1.01);
      transition: .3s;
    }

    &_item:nth-child(3) {
      grid-column: 1 / 3;
      grid-row: 2 / 3;
    }
  }

  &__showAll {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: 50px;
    margin-top: 70px;

    &_title {
      text-transform: uppercase;
      font-size: 1.25rem;
      font-weight: 600;
    }
  }
  &__showAll:hover {
    transform: scale(1.01);
    transition: .3s;
  }

}

@media screen and (max-width: 1440px) {
  .case-component__cases_item__title {
    font-size: 3rem;
  }
}

@media screen and (max-width: 1280px) {
  .case-component__cases_item {
    &__images {
      max-height: 346px;
      object-fit: cover;
    }
    &__title {
      font-size: 2rem;
    }
  }
}

@media screen and (max-width: 1024px) {
  .case-component__cases_item__title {
    font-size: 2rem;
  }
}

@media screen and (max-width: 768px) {
  .case-component__cases {
    gap: 7px;
    &_item{
      &__title {
        font-size: 1.5rem;
      }
      &__images {
        max-height: 205px;
      }
    }
  }
  .case-component__cases_item__buttons_button {
    height: 28px;
    padding: 2px;
    font-size: 0.7rem;
    border-radius: 13px;
  }
}

@media screen and (max-width: 600px) {
  .case-component__cases {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 0;

    &_item {
      width: 100%;

      &__buttons {
        top: 10px;
        left: 15px;
      }

      &__title {
        font-size: 2.5rem;
        bottom: 10px;
        left: 15px;
      }
    }
  }
}

@media screen and (max-width: 500px) {
  .case-component__cases_item__title {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 350px) {
  .case-component__showAll_title {
    font-size: 0.7rem;
  }
}
